# Data & Math
pandas>=2.0.0
numpy>=1.24.0
pyarrow>=12.0.0

# Machine Learning & Fairness
xgboost>=2.0.0
optuna>=3.0.0
fairlearn>=0.9.0
scikit-learn>=1.3.0

# MLOps & Monitoring
mlflow>=2.10.0
evidently>=0.4.0
boto3>=1.28.0

# Dashboard
streamlit>=1.30.0
plotly>=5.18.0

# API & Utils
requests>=2.31.0
pyyaml>=6.0

# Dev & Tests
pytest>=7.4.0
flake8>=6.1.0
black>=23.9.0
